<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список маршрутів/Пошук маршрутів</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1>Розклад потягів</h1>
    <form th:action="@{/}" method="post">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="departureStation">Станція відправлення:</label>
                <select class="form-control" id="departureStation" name="departureStation">
                    <option value="">Оберіть станцію відправлення</option>
                    <option th:each="station : ${stations}"
                            th:value="${station.id}"
                            th:text="${station.name}"></option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="arrivalStation">Станція прибуття:</label>
                <select class="form-control" id="arrivalStation" name="arrivalStation">
                    <option value="">Оберіть станцію прибуття</option>
                    <option th:each="station : ${stations}"
                            th:value="${station.id}"
                            th:text="${station.name}"></option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="start">Дата відправлення:</label>
                <input type="date" class="form-control" id="start" name="start">
            </div>
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary">Пошук</button>
            </div>
        </div>
    </form>

    <div th:if="${message}" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong th:text="${message}"></strong>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Станція відправлення</th>
            <th>Станція прибуття</th>
            <th>Потяг</th>
            <th>Дата відправлення</th>
            <th>Дата прибуття</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="route : ${routes}">
            <td th:text="${route.departureStation.name}"></td>
            <td th:text="${route.arrivalStation.name}"></td>
            <td th:text="${route.train.code}"></td>
            <td th:text="${#dates.format(route.start, 'dd.MM.yyyy HH:mm')}"></td>
            <td th:text="${#dates.format(route.end, 'dd.MM.yyyy HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
